<div class="card" style="width: 30rem;">
  <% if post.cover.present? %>
    <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>

  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"> <%= post.body %></p>
    <%= link_to 'Open', post, class: 'btn btn-primary'%>
    <%= link_to 'Edit', post_path(post), class: 'btn btn-warning'%>
    <%= link_to 'Destroy', post_path(post), method: :delete, confir: 'Are you sure?', class: 'btn btn-danger'%>
  </div>
</div>



